* {
    margin: 0;
    padding: 0;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    width: 90%;
    padding-top: 15px;
}

.logo {
    display: flex;
    padding-left: 15px;
    padding-bottom: 5px;
    gap: 10px;
}

.logo p {
    stroke: black;
    font-weight: 700;
}

.logo img {
    width: 20px;
}

.back {
    background-color: inherit;
    border: none;
    width: 25px;
    height: 25px;
}

.back img {
    width: 30px;
    height: 30px;
}

nav {
    gap: 55px;
    width: 196px;
    height: 12px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
}

.slide-1, .slide-2, .slide-3 {
    width: 12px;
    height: 12px;
}

/* ========================================= */

.content-header {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

.content-header h1 {
    font-family: Poppins;
    text-align: center;
    padding-bottom: 35px;
}

.content-header p {
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
    color: rgba(87, 95, 110, 1);
    width: 330px;
    margin: 0 auto;
}

.checkbox {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    font-family: roboto;
    gap: 10px;
    padding-bottom: 40px;
}

.checkbox a {
    text-decoration: none;
    color: rgba(0, 122, 255, 1);
    font-weight: 500;
}

/* ========================================= */

fieldset {
  padding-left: 25px;  
}

.info-header {
    font-family: poppins;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-header h1 {
    color: rgba(36, 39, 49, 1);
}

.info-header p {
    color: rgba(87, 95, 110, 1);
    font-size: 12px;
}

.info-esquerda, .info-direita, .secondName, .firstName {
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 50px;
    padding-bottom: 20px;
}

form input {
    font-family: roboto;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: rgba(226, 228, 229, 1);
    line-height: 18px;
    color: rgba(36, 36, 38, 1);
}

form label {
    font-family: poppins;
    font-size: 14px;
    color: rgba(36, 36, 38, 1);
}

/* ========================================= */

.content-footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(239, 247, 255, 1);
    padding-left: 15px;
    color: rgba(87, 95, 110, 1);
    padding-top: 20px;
}

.content-footer input {
    border: none;
    background-color: rgba(239, 247, 255, 1);
    padding-top: 30px;
    font-family: roboto;
    font-size: 18px;
    gap: 5px;
    height: 15px;
}

.content-footer label {
    font-family: poppins;
    font-size: 13px;
    padding-bottom: 15px;
}


.btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    width: 150px;
    height: 50px;
    background-color: inherit;
    border-radius: 5px;
    font-family: poppins;
}